.flex,
.justify-center,
.justify-end,
.justify-start,
.justify-around,
.justify-between,
.justify-evenly,
.flex-row,
.flex-row-break  {
    display: flex;
}
.inline-flex {
    display: inline-flex;
}
.justify-center { justify-content: center }
.justify-end { justify-content: flex-end }
.justify-start { justify-content: flex-start }
.justify-around { justify-content: space-around }
.justify-between { justify-content: space-between }
.justify-evenly { justify-content: space-evenly }

.flex-row { flex-direction: row }
.flex-row-break { flex-direction: row; flex-wrap: wrap; justify-content: space-between; gap: .05; }
.flex-row-break > * { display: flex; flex: .5; min-width: 200px }
