.root {
    display: flex;
    position: absolute;
    inset: 0;
    flex-direction: column;
    padding: 10px;
}
.main {
    display: flex;
    flex-direction: column;
    background-color: #0d1117;
    width: 100%;
    height: 100%;
    max-width: 1400px;
    max-height: 640px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 8px 5px #0004;
    border: 1px solid #30363d;
}