body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
body, html, *, *::before, *::after, :host, :root {
  word-wrap: break-word;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
body {
  position: fixed;
  z-index: 1;
  inset: 0;
}
body,
html {
  background-color: #010409;
  color: #fff;
}
.scrollable {
  overflow: auto;
}
.scrollable-x {
  overflow-x: auto;
}
.scrollable-y {
  overflow-y: auto;
}
.scrollable:not(.mobile)::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.scrollable:not(.mobile)::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #010409;
}
.scrollable:not(.mobile)::-webkit-scrollbar-thumb {
  background-color: #0d1117;
  outline: 1px solid #0d1117;
}
.scrollable:not(.mobile)::-webkit-scrollbar-corner {
  background: none;
}
#root {
  display: flex;
  position: absolute;
  inset: 0;
  flex-direction: row;
}
.tippy-box {
  font-family: inherit !important;
  color: #fff !important;
  background-color: #3e55e1 !important;
  box-shadow: rgb(0 0 0/30%) 0 0 4px, rgb(255 255 255/5%) 0 1px 0 inset !important;
}
.tippy-arrow{
  color: #3e55e1 !important;
}